/* You can add global styles to this file, and also import other style files */
.bg-color {
  background-color: #f0f0f0 !important;
}

.bg-light {
  background-color: #fff !important;
 }

 .links {
  font-size: 17px;
 }

 .nav-link:hover{
  color: #004ab9 !important;
 }
